@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #111827; /* Zinc 950 color */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;    /* Center vertically */
  height: 100vh;          /* Full viewport height */
  margin: 0;
}